<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name">
  
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">
  
  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password">
  
  <label for="designation">Designation:</label>
  <input type="text" id="designation" formControlName="designation">
  
  <button type="submit">Submit</button>
</form>
